{% extends 'base.html.twig' %}

{% block title %} Products at `{{ object | default('') }}` {% endblock %}
{% block pageHeaderTitle %} Products at `{{ object | default('') }}` {% endblock %}

{% block body %}
    {% if pagination.currentPageResults | length == 0 %}
        <i>No products available</i>
    {% else %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            {% for item in pagination.currentPageResults %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price}}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ pagerfanta(pagination, 'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}